main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  border: 1px solid black;
  height: 800px;
  width: 800px;
  overflow: hidden;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hotpink;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: blueviolet;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  cursor: pointer;
}

.small-circle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}